#editor-overlay {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.2s ease-in-out; /* Transição suave */
  /*background-color: rgba(0, 0, 0, 0.5);  Fundo com leve transparência */
  border-radius: 8px; /* Bordas arredondadas para um efeito mais suave */
  padding: 10% 0%; /* Espaçamento interno ajustado */
  
}

#editor-overlay img {
  max-width: 40%; /* Imagem um pouco maior */
  max-height: 40%; /* Imagem um pouco maior */
  opacity: 0.5; /* Opacidade ajustada para destacar mais a imagem */
  margin-top: -10%;
  filter: grayscale(80%); /* Preto e branco com um leve toque de cor */
  transition: transform 0.15s ease-in-out, filter 0.2s ease-in-out; /* Transições suaves para imagem */
}

#editor-overlay.visible {
  opacity: 1;
  pointer-events: none;
}

#editor-overlay.visible img {
  transform: scale(1.1); /* Aumenta a imagem suavemente */
  filter: grayscale(40%); /* Leve cor, mas ainda com um toque de preto e branco */
  
}

/* Estilo para o texto dentro do overlay */
#editor-overlay .overlay-content {
  text-align: center;
  opacity: 0.6; /* Opacidade reduzida para o texto */
}

#editor-overlay .overlay-title {
  font-size: 1.5rem; /* Reduzindo o tamanho da fonte do título */
  margin-bottom: 10px;
}

#editor-overlay .overlay-subtitle {
  font-size: 1rem; /* Reduzindo o tamanho da fonte do subtítulo */
  margin-top: 0;
}

/* Estilo para tema claro */
body.light-theme #editor-overlay {
  background-color: #ffffff; /* Fundo branco no tema claro */
}

body.light-theme #editor-overlay img {
  opacity: 0.8; /* Imagem um pouco mais visível no tema claro */
  filter: grayscale(60%); /* Mais cor no tema claro */
}

/* Estilo para tema escuro */
body.dark-theme #editor-overlay {
  background-color: #000000; /* Fundo preto no tema escuro */
}

body.dark-theme #editor-overlay img {
  opacity: 0.4; /* Menos visível no tema escuro */
  filter: grayscale(90%); /* Mais preto e branco no tema escuro */
}
