@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@300;400;500;600;700&display=swap');
@import url("../css/styles.css");
@import url("../css/processor_hub.css");
/*@import url("../css/rainbow.css");*/
@import url("../css/tabs.css");
@import url("../css/layout.css");
@import url("../css/editor.css");
@import url("../css/terminal.css");
@import url("../css/ai_assistant.css");
@import url("../css/theme_variables.css");
@import url("../css/toolbar.css");
@import url("../css/file_tree.css");
@import url("../css/modal_config.css");
@import url("../css/tooltip.css");
@import url("../css/status_updater.css");
@import url("../css/hourglass.css");
@import url("../css/save_first.css");
@import url("../css/recent_projects.css");
@import url("../css/project_info.css");
@import url("../css/vvp_progress.css");
@import url("../css/pdf_image.css");
@import url("../css/import_file.css");
@import url("../css/close_project.css");
@import url("../css/aurora_settings.css");
@import url("../css/h_tree.css");
@import url("../css/ui_state.css");
@import url("../css/command_palete.css");