/* Info Box Styling */
.info-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    width: 90%;
    max-width: 300px;
    max-height: 80vh; 
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    text-align: left;
    font-family: 'Inter', sans-serif;
    opacity: 0;
    transition: all 0.3s ease;
    overflow-y: auto; 
    padding: 25px;
  }
  
  .info-box.visible {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  .info-box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #444;
    padding: 8px 16px;
    border-radius: 10px;
  }
  
  .info-box-content {
    padding: 16px;
    overflow-y: auto;
  }
  
  .info-box-content section h4 {
    font-size: 1em;
    display: flex;
    align-items: center;
    color: #aaa;
    margin: 8px 0;
    gap: 5px;
  }
  
  hr {
    border: none;
    border-top: 1px solid #555;
    margin: 16px 0;
  }
 