(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    highlight_focused: None,
    fill_high_values: None,
    waves: (
        source: File("C:\Users\LCOM\Desktop\Github\Aurora\pythonSurfer\meu_arquivo.vcd"),
        format: "Fst",
        active_scope: (
            WaveScope: (
                strs: [
                    "top_level_tb",
                    "top_level_inst"
                ]
            )
        ),
        items_tree: (
            items: [
                (
                    item_ref: 1,
                    level: 0,
                    unfolded: true,
                    selected: false
                ),
                (
                    item_ref: 2,
                    level: 0,
                    unfolded: true,
                    selected: false
                ),
                (
                    item_ref: 3,
                    level: 0,
                    unfolded: true,
                    selected: false
                ),
                (
                    item_ref: 4,
                    level: 0,
                    unfolded: true,
                    selected: false
                ),
                (
                    item_ref: 5,
                    level: 0,
                    unfolded: true,
                    selected: false
                ),
                (
                    item_ref: 6,
                    level: 0,
                    unfolded: true,
                    selected: false
                ),
                (
                    item_ref: 7,
                    level: 0,
                    unfolded: true,
                    selected: false
                ),
                (
                    item_ref: 8,
                    level: 0,
                    unfolded: true,
                    selected: false
                ),
                (
                    item_ref: 9,
                    level: 0,
                    unfolded: true,
                    selected: false
                ),
                (
                    item_ref: 10,
                    level: 0,
                    unfolded: true,
                    selected: false
                ),
                (
                    item_ref: 11,
                    level: 0,
                    unfolded: true,
                    selected: false
                ),
                (
                    item_ref: 12,
                    level: 0,
                    unfolded: true,
                    selected: false
                ),
                (
                    item_ref: 13,
                    level: 0,
                    unfolded: true,
                    selected: false
                ),
                (
                    item_ref: 14,
                    level: 0,
                    unfolded: true,
                    selected: false
                ),
                (
                    item_ref: 15,
                    level: 0,
                    unfolded: true,
                    selected: false
                ),
                (
                    item_ref: 16,
                    level: 0,
                    unfolded: true,
                    selected: false
                ),
                (
                    item_ref: 17,
                    level: 0,
                    unfolded: true,
                    selected: false
                ),
                (
                    item_ref: 18,
                    level: 0,
                    unfolded: true,
                    selected: false
                ),
                (
                    item_ref: 19,
                    level: 0,
                    unfolded: true,
                    selected: false
                ),
                (
                    item_ref: 20,
                    level: 0,
                    unfolded: true,
                    selected: false
                ),
                (
                    item_ref: 21,
                    level: 0,
                    unfolded: true,
                    selected: false
                ),
                (
                    item_ref: 22,
                    level: 0,
                    unfolded: true,
                    selected: false
                )
            ]
        ),
        displayed_items: (
            (1): (
                Variable: (
                    variable_ref: (
                        path: (
                            strs: [
                                "top_level_tb",
                                "top_level_inst",
                                "maq_estados_inst"
                            ]
                        ),
                        name: "clk"
                    ),
                    color: None,
                    background_color: None,
                    display_name: "Clock",
                    display_name_type: "Unique",
                    manual_name: None,
                    format: None,
                    field_formats: [],
                    height_scaling_factor: None
                )
            ),
            (2): (
                Variable: (
                    variable_ref: (
                        path: (
                            strs: [
                                "top_level_tb",
                                "top_level_inst",
                                "maq_estados_inst"
                            ]
                        ),
                        name: "rst_geral"
                    ),
                    color: None,
                    background_color: None,
                    display_name: "Reset",
                    display_name_type: "Unique",
                    manual_name: None,
                    format: None,
                    field_formats: [],
                    height_scaling_factor: None
                )
            ),
            (3): (
                Variable: (
                    variable_ref: (
                        path: (
                            strs: [
                                "top_level_tb",
                                "top_level_inst",
                                "ProcDTWv4_inst"
                            ]
                        ),
                        name: "req_in"
                    ),
                    color: None,
                    background_color: None,
                    display_name: "req_in [2:0]",
                    display_name_type: "Unique",
                    manual_name: None,
                    format: None,
                    field_formats: [],
                    height_scaling_factor: None
                )
            ),
            (4): (
                Variable: (
                    variable_ref: (
                        path: (
                            strs: [
                                "top_level_tb",
                                "top_level_inst",
                                "ProcDTWv4_inst"
                            ]
                        ),
                        name: "req_in"
                    ),
                    color: None,
                    background_color: None,
                    display_name: "req_in [2:0]",
                    display_name_type: "Unique",
                    manual_name: None,
                    format: None,
                    field_formats: [],
                    height_scaling_factor: None
                )
            ),
            (5): (
                Variable: (
                    variable_ref: (
                        path: (
                            strs: [
                                "top_level_tb",
                                "top_level_inst",
                                "ProcDTWv4_inst"
                            ]
                        ),
                        name: "req_in"
                    ),
                    color: None,
                    background_color: None,
                    display_name: "req_in [2:0]",
                    display_name_type: "Unique",
                    manual_name: None,
                    format: None,
                    field_formats: [],
                    height_scaling_factor: None
                )
            ),
            (6): (
                Variable: (
                    variable_ref: (
                        path: (
                            strs: [
                                "top_level_tb",
                                "top_level_inst",
                                "ProcDTWv4_inst"
                            ]
                        ),
                        name: "in0"
                    ),
                    color: None,
                    background_color: None,
                    display_name: "input 0 [31:0]",
                    display_name_type: "Unique",
                    manual_name: None,
                    format: None,
                    field_formats: [],
                    height_scaling_factor: None
                )
            ),
            (7): (
                Variable: (
                    variable_ref: (
                        path: (
                            strs: [
                                "top_level_tb",
                                "top_level_inst",
                                "ProcDTWv4_inst"
                            ]
                        ),
                        name: "in1"
                    ),
                    color: None,
                    background_color: None,
                    display_name: "input 1 [31:0]",
                    display_name_type: "Unique",
                    manual_name: None,
                    format: None,
                    field_formats: [],
                    height_scaling_factor: None
                )
            ),
            (8): (
                Variable: (
                    variable_ref: (
                        path: (
                            strs: [
                                "top_level_tb",
                                "top_level_inst",
                                "ProcDTWv4_inst"
                            ]
                        ),
                        name: "in2"
                    ),
                    color: None,
                    background_color: None,
                    display_name: "input 2 [31:0]",
                    display_name_type: "Unique",
                    manual_name: None,
                    format: None,
                    field_formats: [],
                    height_scaling_factor: None
                )
            ),
            (9): (
                Variable: (
                    variable_ref: (
                        path: (
                            strs: [
                                "top_level_tb",
                                "top_level_inst",
                                "ProcDTWv4_inst"
                            ]
                        ),
                        name: "out_en"
                    ),
                    color: None,
                    background_color: None,
                    display_name: "out_en [2:0]",
                    display_name_type: "Unique",
                    manual_name: None,
                    format: None,
                    field_formats: [],
                    height_scaling_factor: None
                )
            ),
            (10): (
                Variable: (
                    variable_ref: (
                        path: (
                            strs: [
                                "top_level_tb",
                                "top_level_inst",
                                "ProcDTWv4_inst"
                            ]
                        ),
                        name: "out0"
                    ),
                    color: None,
                    background_color: None,
                    display_name: "output 0 [31:0]",
                    display_name_type: "Unique",
                    manual_name: None,
                    format: None,
                    field_formats: [],
                    height_scaling_factor: None
                )
            ),
            (11): (
                Variable: (
                    variable_ref: (
                        path: (
                            strs: [
                                "top_level_tb",
                                "top_level_inst",
                                "ProcDTWv4_inst"
                            ]
                        ),
                        name: "out1"
                    ),
                    color: None,
                    background_color: None,
                    display_name: "output 1 [31:0]",
                    display_name_type: "Unique",
                    manual_name: None,
                    format: None,
                    field_formats: [],
                    height_scaling_factor: None
                )
            ),
            (12): (
                Variable: (
                    variable_ref: (
                        path: (
                            strs: [
                                "top_level_tb",
                                "top_level_inst",
                                "ProcDTWv4_inst"
                            ]
                        ),
                        name: "out2"
                    ),
                    color: None,
                    background_color: None,
                    display_name: "output 2 [31:0]",
                    display_name_type: "Unique",
                    manual_name: None,
                    format: None,
                    field_formats: [],
                    height_scaling_factor: None
                )
            ),
            (13): (
                Variable: (
                    variable_ref: (
                        path: (
                            strs: [
                                "top_level_tb",
                                "top_level_inst",
                                "ProcZeroCross_inst"
                            ]
                        ),
                        name: "in0"
                    ),
                    color: None,
                    background_color: None,
                    display_name: "ZeroCross in0 [31:0]",
                    display_name_type: "Unique",
                    manual_name: None,
                    format: None,
                    field_formats: [],
                    height_scaling_factor: None
                )
            ),
            (14): (
                Variable: (
                    variable_ref: (
                        path: (
                            strs: [
                                "top_level_tb",
                                "top_level_inst",
                                "ProcZeroCross_inst"
                            ]
                        ),
                        name: "out0"
                    ),
                    color: None,
                    background_color: None,
                    display_name: "ZeroCross out0 [31:0]",
                    display_name_type: "Unique",
                    manual_name: None,
                    format: None,
                    field_formats: [],
                    height_scaling_factor: None
                )
            ),
            (15): (
                Variable: (
                    variable_ref: (
                        path: (
                            strs: [
                                "top_level_tb",
                                "top_level_inst",
                                "ProcZeroCross_inst"
                            ]
                        ),
                        name: "out1"
                    ),
                    color: None,
                    background_color: None,
                    display_name: "ZeroCross out1 [31:0]",
                    display_name_type: "Unique",
                    manual_name: None,
                    format: None,
                    field_formats: [],
                    height_scaling_factor: None
                )
            ),
            (16): (
                Variable: (
                    variable_ref: (
                        path: (
                            strs: [
                                "top_level_tb",
                                "top_level_inst",
                                "ProcZeroCross_inst"
                            ]
                        ),
                        name: "out2"
                    ),
                    color: None,
                    background_color: None,
                    display_name: "ZeroCross out2 [31:0]",
                    display_name_type: "Unique",
                    manual_name: None,
                    format: None,
                    field_formats: [],
                    height_scaling_factor: None
                )
            ),
            (17): (
                Variable: (
                    variable_ref: (
                        path: (
                            strs: [
                                "top_level_tb",
                                "top_level_inst",
                                "ProcZeroCross_inst"
                            ]
                        ),
                        name: "out3"
                    ),
                    color: None,
                    background_color: None,
                    display_name: "ZeroCross out3 [31:0]",
                    display_name_type: "Unique",
                    manual_name: None,
                    format: None,
                    field_formats: [],
                    height_scaling_factor: None
                )
            ),
            (18): (
                Variable: (
                    variable_ref: (
                        path: (
                            strs: [
                                "top_level_tb",
                                "top_level_inst",
                                "ProcZeroCross_inst"
                            ]
                        ),
                        name: "out4"
                    ),
                    color: None,
                    background_color: None,
                    display_name: "ZeroCross out4 [31:0]",
                    display_name_type: "Unique",
                    manual_name: None,
                    format: None,
                    field_formats: [],
                    height_scaling_factor: None
                )
            ),
            (19): (
                Variable: (
                    variable_ref: (
                        path: (
                            strs: [
                                "top_level_tb",
                                "top_level_inst",
                                "ProcZeroCross_inst"
                            ]
                        ),
                        name: "req_in"
                    ),
                    color: None,
                    background_color: None,
                    display_name: "ZeroCross req_in [1:0]",
                    display_name_type: "Unique",
                    manual_name: None,
                    format: None,
                    field_formats: [],
                    height_scaling_factor: None
                )
            ),
            (20): (
                Variable: (
                    variable_ref: (
                        path: (
                            strs: [
                                "top_level_tb",
                                "top_level_inst",
                                "maq_estados_inst"
                            ]
                        ),
                        name: "state"
                    ),
                    color: None,
                    background_color: None,
                    display_name: "State Machine [1:0]",
                    display_name_type: "Unique",
                    manual_name: None,
                    format: None,
                    field_formats: [],
                    height_scaling_factor: None
                )
            ),
            (21): (
                Variable: (
                    variable_ref: (
                        path: (
                            strs: [
                                "top_level_tb",
                                "top_level_inst",
                                "maq_estados_inst"
                            ]
                        ),
                        name: "out"
                    ),
                    color: None,
                    background_color: None,
                    display_name: "State Out [1:0]",
                    display_name_type: "Unique",
                    manual_name: None,
                    format: None,
                    field_formats: [],
                    height_scaling_factor: None
                )
            ),
            (22): (
                Variable: (
                    variable_ref: (
                        path: (
                            strs: [
                                "top_level_tb",
                                "top_level_inst",
                                "maq_estados_inst"
                            ]
                        ),
                        name: "flag_zc"
                    ),
                    color: None,
                    background_color: None,
                    display_name: "Zero Cross Flag",
                    display_name_type: "Unique",
                    manual_name: None,
                    format: None,
                    field_formats: [],
                    height_scaling_factor: None
                )
            )
        ),
        display_item_ref_counter: 22,
        viewports: [
            (
                curr_left: 0.0,
                curr_right: 1.0,
                target_left: 0.0,
                target_right: 1.0,
                move_start_left: 0.0,
                move_start_right: 1.0,
                move_duration: None,
                move_strategy: "Instant"
            )
        ],
        cursor: None,
        markers: (),
        focused_item: None,
        focused_transaction: [
            None,
            None
        ],
        default_variable_name_type: "Unique",
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: ()
    ),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: "PicoSeconds",
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: "Contain",
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false
    ),
    rename_target: None,
    sidepanel_width: 300.0,
    ui_zoom_factor: None
)